<div class="container">

  <h1 class="text-center display-2 mb-4">Trouver <span class="background-gradient">l'abonnement idéal</span></h1>
  <h4 class="lead mb-5 text-center">Choisissez le plan qui vous convient le mieux.</h4>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-5">

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-bold">Plan A</h4><br>
            <h5 class="my-0 fw-normal">Ami du Mage</h5>
          </div>
          <div class="card-body">
            <p class="gray-500 mt-4">Peut-être le plan qui vous conviendra, maintenant ou plus tard.</p>
            <h1 class="card-title pricing-card-title mt-4">2€<small class="text-muted fw-light">/mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="mt-5">Vous prouvez votre appréciation pour le site.</li>
              <li class="mt-3">Vous m'aidez à maintenir les opérations de base du site.</li>
              <li class="mt-3">Chaque contribution compte et est fortement appréciée.</li>
              <li class="mt-3">Vous recevrez un remerciement spécial sur notre page des contributeurs.</li>
              <li class="mt-3">Vous participez à faire perdurer la communauté Magic.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-bold">Plan B</h4><br>
            <h5 class="my-0 fw-normal">Partenaire des Arcanes</h5>
          </div>
          <div class="card-body">
            <p class="gray-500 mt-4">Un plan pour ceux qui souhaitent jouer un rôle plus important.</p>
            <h1 class="card-title pricing-card-title mt-4">3€<small class="text-muted fw-light">/mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="mt-5">Vous m'aidez non seulement à maintenir le site, mais également à y ajouter de nouvelles fonctionnalités.</li>
              <li class="mt-3">En tant que Partenaire des Arcanes, vous jouez un rôle essentiel pour aider le site à se développer.</li>
              <li class="mt-3">Vous recevrez un remerciement spécial sur notre page des contributeurs.</li>
              <li class="mt-3">Vous aurez un accès anticipé à de nouvelles fonctionnalités.</li>
              <li class="mt-3">Vous encouragez le développement d'une plateforme dédiée à Magic.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-bold">Plan C</h4><br>
            <h5 class="my-0 fw-normal">Gardien du Mana</h5>
          </div>
          <div class="card-body">
            <p class="gray-500 mt-4">Un plan pour ceux qui souhaitent faire une différence significative.</p>
            <h1 class="card-title pricing-card-title mt-4">5€<small class="text-muted fw-light">/mois</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="mt-5">Vous êtes le pilier qui m'aide à faire avancer le site de manière significative.</li>
              <li class="mt-3">Votre contribution permet des mises à jour plus importantes, une meilleure maintenance et la possibilité de planifier des événements spéciaux pour la communauté.</li>
              <li class="mt-3">En tant que Gardien du Mana, vous recevrez un remerciement spécial sur notre page des contributeurs.</li>
              <li class="mt-3">Vous aurez un accès anticipé à de nouvelles fonctionnalités.</li>
              <li class="mt-3">Votre nom sera inscrit dans les crédits de chaque nouvelle mise à jour du site.</li>
              <li class="mt-3">Vous contribuez de manière significative à la croissance et à l'amélioration de la communauté Magic.</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="container">

  <h2 class="h3 mb-4">
    <span class="highlight-underline">FAQ</span>
  </h2>

  <dl>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Comment mon don est-il utilisé ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <p class="mb-0 fs-6">Votre don nous aide à maintenir le site en vie, à ajouter de nouvelles fonctionnalités et à organiser des événements pour la communauté. Chaque euro contribue à améliorer votre expérience et à faire grandir la communauté Magic.</p>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Puis-je annuler mon abonnement à tout moment ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Oui, vous pouvez annuler votre abonnement à tout moment. Nous apprécions chaque contribution, qu'elle soit ponctuelle ou continue, et nous comprenons que les circonstances peuvent changer.</p>
        </div>
      </dd>
    </div>
    <div class="p-4 border rounded-5 mb-4">
      <dt class="h6 leading-6 font-bold text-gray-900">Est-ce que je peux changer de plan après m'être abonné ?</dt>
      <dd class="mt-2 text-base gray-600 text-content">
        <div>
          <p class="mb-0 fs-6">Oui, vous pouvez changer de plan à tout moment. Si vous décidez de passer à un plan supérieur, les changements seront effectués immédiatement. Si vous passez à un plan inférieur, les changements seront effectués à la fin de votre cycle de facturation actuel.</p>
        </div>
      </dd>
    </div>
  </dl>

</div>