<div id="flash_messages">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= bootstrap_class_for(type) %> alert-dismissible fade show alert-custom" role="alert">
      <strong><%= message %></strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

<script>
  // close flash messages after 5 seconds
  setTimeout(function() {
      bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
  }, 5000)
  // close flash messages on click dropdown menu
  document.querySelector('.dropdown-menu').addEventListener('mouseenter', function() {
  let alertInstance = bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert"));
  if (alertInstance) {
    alertInstance.close();
  }
});
</script>
