.alert-custom {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  z-index: 1600;
}

@media (max-width: 999px) {
  .alert-custom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    width: 100%;
  }
}
