@import "bootstrap";
@import "home";
@import "navbar";
@import "alert_messages";
@import "passwords_edit";
@import "about";
@import "contact";
@import "services";
@import "footer";
@import "scroll_to_top";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #0f172a;
  background-color: #f8f9fa;
}
*, *:before, *:after {
  box-sizing: border-box;
  // border: 1px solid red !important;
}
a {
  color: #b24074;
  text-decoration: none;
}
a:hover {
  color: #4338ca;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}
.background-gradient {
  background-image: linear-gradient(to top right,#ef4444, #4338ca);
  color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0;
}
table tbody tr td form .form-control {
  display: inline-flex;
  width: 50%;
}
#modal {
  overflow: hidden;
}
.card-img-top {
  height: 380px;
}
.modal-body .card-img-top {
  width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
# On phone
--------------------------------------------------------------*/
@media (max-width: 1020px) {
  .display-1 {
    font-size: 50px;
    font-weight: 700;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .carousel-caption h2 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }
  .carousel-caption p {
    font-size: 11px;
    font-weight: 800;
    color: #fff;
  }
  .py-3 {
    .rounded {
      width: 100%;

    }
  }
}