.static_pages-services {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.static_pages-services footer {
  a {
    color: black;
  }

  a:hover {
    color: rgba(15, 15, 15, 0.562);
  }
}